<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PUBG_Player_Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PUBG_Player_Search.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="apikey" serializeAs="String">
                <value />
            </setting>
        </PUBG_Player_Search.Properties.Settings>
    </userSettings>
</configuration>